<section class="about">
  <div class="container">
    <div class="about__block-text block-text">
      <h2 id="about" class="block-text__title">Обо мне</h2>
    </div>
    <div class="about__content flex">
      <div class="about__column">

        <div class="about__image">
          <img src="img/avatar-w.png" alt="web-developer">
            <span class="about__name">Я, Евгений</span><span class="about__prof">Веб-разработчик</span>
        </div>

      </div>
      <div class="about__column">
        <p>Я помогу вам создать привлекательный сайт с уникальным и современным дизайном. Занимаюсь веб-разработкой и моей страстью является адаптивный дизайн, я уверен что ваш сайт будет выглядеть отлично на любом устройстве - будь то на компьютере, планшете или мобильном телефоне. я знаю, как сделать ваш сайт максимально функциональным и удобным для пользователей.</p>

        <p> Каждый клиент для меня уникален, и я всегда иду на встречу ваших потребностей и пожеланий. Я уделяю особое внимание деталям и стремлюсь создать сайт, который выглядит стильно и профессионально.</p>

          <p> Давайте вместе воплотим ваши идеи в жизнь и создадим сайт, который будет удобным, красивым и привлекательным для ваших пользователей. Свяжитесь со мной, чтобы обсудить детали и начать работу прямо сейчас!</p>
      </div>

    </div>
  </div>
</section>

