<footer class="footer">
  <a href="#page" data-scroll class="to-top">
    <span class="to-top__text"></span>
    <span class="to-top__icon">
      <svg viewBox="0 0 14 7" fill="#fff" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M13.4697 0.863701C13.8212 1.21517 13.8212 1.78502 13.4697 2.13649L7.63642 7.96983C7.46763 8.13861 7.23871 8.23343 7.00002 8.23343C6.76132 8.23343 6.53241 8.13861 6.36362 7.96983L0.530291 2.13649C0.178819 1.78502 0.178819 1.21517 0.530291 0.863701C0.881763 0.51223 1.45161 0.51223 1.80308 0.863702L7.00002 6.06064L12.197 0.863702C12.5484 0.51223 13.1183 0.51223 13.4697 0.863701Z" />
      </svg>
    </span>
  </a>
  <div class="container">
    <div class="footer__top">
      <div class="footer__columns flex">
        <div class="footer__footer-column footer-column">
          <div class="footer-column__title">Меню</div>
          <ul class="footer-column__list list-reset">
            <li class="footer-column__item"><a class="footer-column__link" href="#services">Услуги</a></li>
            <li class="footer-column__item"><a class="footer-column__link" href="#about">Обо мне</a></li>
            <!-- <li class="footer-column__item"><a class="footer-column__link" href="#">Отзывы</a></li>   -->
            <li class="footer-column__item"><a class="footer-column__link" href="#">Блог</a></li>
          </ul>
        </div>
        <div class="footer__footer-column footer-column">
          <div class="footer-column__title">Информация о сайте</div>
          <ul class="footer-column__list list-reset">
            <li class="footer-column__item"><a class="footer-column__link" href="#">Политика конфиденциальности</a></li>
            <li class="footer-column__item"><a class="footer-column__link" href="#">Условия</a></li>
            <li class="footer-column__item"><a class="footer-column__link" href="#">Часто задаваемые вопросы</a></li>
          </ul>
        </div>
        <div class="footer__footer-column footer-column">
          <div id="contacts" class="footer-column__title">Контакты</div>
          <ul class="footer-column__list list-reset">
            <li class="footer-column__item">
              <a class="footer-column__link" href="tel:+79509890441"><img src="img/icons/phone.svg" alt="phone"><span>+7 950
                  9890441</span></a>
            </li>
            <li class="footer-column__item">
              <a class="footer-column__link" target="_blank"  href="agafonoff93@gmail.com"><img src="img/icons/email.svg"
                  alt="mail"><span>agafonoff93@gmail.com</span></a>
            </li>
            <li class="footer-column__item">
              <div class="footer-column__socials flex">
                <a class="footer-column__link" target="_blank" href="whatsapp://send?phone=79509890441"><img src="img/icons/whatsapp.svg" alt="whatsapp"></a>
                <a class="footer-column__link" target="_blank" href="https://t.me/agafonoff93"><img src="img/icons/telegram.svg" alt="telegram"></a>
                <a class="footer-column__link" target="_blank" href="https://www.instagram.com/agafonoff93"><img src="img/icons/instagram.svg" alt="instagram"></a>
              </div>
            </li>



          </ul>


        </div>
        <div class="footer__footer-column footer-column">
          <div class="footer-column__title">Связаться</div>

          <form action="#" class="form footer-column__form" method="POST" enctype="multipart/form-data">
            <label class="form__label">
              <input class="input input-name contacts-form__input" type="text" data-validate-field="name" name="Имя"
                placeholder="Введите имя">
            </label>
            <label class="form__label">
              <input class="input input-mail contacts-form__input" type="email" data-validate-field="email" name="Email"
                placeholder="Введите email">
            </label>
            <label class="form__label">
              <input class="input input-tel contacts-form__input" type="tel" data-validate-field="tel" name="Телефон"
                placeholder="Введите телефон">
            </label>
            <label class="form__label">
              <textarea class="textarea contacts-form__textarea" name="Сообщение" id="" maxlength="200"
                placeholder="Введите ваше сообщение"></textarea>
            </label>
            <button class="footer-column__button btn-light button">Отправить</button>
            <div class="success-message" >
              <svg  viewBox="-9 3 32 24" stroke-width="2" stroke="#fff" fill="none" stroke-linecap="round" stroke-linejoin="round"> <path stroke="none" d="M0 0h24v24H0z" fill="none"/> <rect x="3" y="16" width="3" height="5" rx="1" /> <path d="M6 20a1 1 0 0 0 1 1h3.756a1 1 0 0 0 .958 -.713l1.2 -3c.09 -.303 .133 -.63 -.056 -.884c-.188 -.254 -.542 -.403 -.858 -.403h-2v-2.467a1.1 1.1 0 0 0 -2.015 -.61l-1.985 3.077v4z" /> </svg>
              <span>Форма успешно отправлена!</span></div>
            <!-- <div class="success-message" style="display: none;">Форма успешно отправлена!</div> -->
          </form>
          <div class="error-message" style="display: none;">Ошибка при отправке сообщения</div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright">
        Copyright © <span>2024</span> Age It - Интернет-услуги по разработке сайтов.
      </p>
    </div>
  </div>
</footer>
<div data-menu-overlay class="overlay"></div>

