<header class="header header--position">
  <div class="container flex header__container">
    <a href="#" class="logo flex">
      <img src="img/Group-11176.png" alt="AGE logo">
      <div class="logo__text">
        <div class="logo__name-wrapper">
          <div class="logo__name">
            <div class="logo__name-age-it"><p>AGE IT</p></div>
            <div class="logo__name-my"><p>Agafonov Evgeniy</p></div>
          </div>
        </div>

        <span class="logo__description">веб-студия</span>
      </div>

    </a>


    <nav class="nav flex" title="Main navigation" data-menu>
      <ul class="nav__list list-reset flex">
        <li data-menu-item class="nav__item"><a href="#services" class="nav__link">Услуги</a></li>
        <li data-menu-item class="nav__item"><a href="#about" class="nav__link">Обо мне</a></li>
        <li data-menu-item class="nav__item"><a href="#works" class="nav__link">Мои работы</a></li>
        <li data-menu-item class="nav__item"><a href="#other-services" class="nav__link">Цены</a></li>
        <!-- <li data-menu-item class="nav__item"><a href="#" class="nav__link">Отзывы</a></li> -->
        <li data-menu-item class="nav__item"><a href="#contacts" class="nav__link">Контакты</a></li>

      </ul>
      <a target="_blank"	href="https://t.me/agafonoff93" class="nav__button btn-light"><img src="img/icons/telegram.svg" alt="telegram"><span>Написать в Telegram</span></a>
    </nav>
    <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
      <span class="burger__line"></span>
    </button>
  </div>
</header>
