<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="theme-color" content="#111111">
  <title>Age IT Web studio</title>
  <link rel="preload" href="fonts/PhenomenaThin.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/PhenomenaExtraLight.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/PhenomenaLight.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/PhenomenaRegular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/PhenomenaBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/PhenomenaExtraBold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="fonts/PhenomenaBlack.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
</head>
