<section class="hero">
  <div class="container grid">
    <div class="hero__content">
      <h1 class="hero__title"> Мы создаём сайты, которые продают.</h1>
      <p class="hero__descr">
       Используя наш опыт и экпертность в разработке веб-сайтов, мы создадим для вашего бренда продукт решающий ваши задачи.
      </p>
      <a href="#contacts" class="hero__btn btn"><span>Напиши нам</span></a>
    </div>
    <div class="hero__image">
      <img src="img/hero-bg.png" alt="main-image">
    </div>

  </div>
</section>
