<section class="other-services">
  <div class="other-services__container container">
    <div class="other-services__block-text">
      <h2 id="other-services" class="block-text__title" data-aos="fade-up" data-aos-delay="50">
        Цены
      </h2>
    </div>
    <div class="other-services__body">
      <div class="other-services__card-other-services card-other-services">
        <div class="card-other-services__title" data-aos="fade-up" data-aos-delay="50">
          Создание сайта под ключ
        </div>
        <div class="card-other-services__list">
          <div class="card-other-services__item" data-aos="fade-up">
            <div  class="card-other-services__name">Сайт-визитка</div>
            <div class="card-other-services__price">от 250$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div  class="card-other-services__name">Landing-page</div>
            <div class="card-other-services__price">от 300$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div  class="card-other-services__name">Сайт-каталог</div>
            <div class="card-other-services__price">от 350$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div  class="card-other-services__name">Корпоративный сайт</div>
            <div class="card-other-services__price">от 625$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Интернет-магазин</div>
            <div class="card-other-services__price">от 800$</div>
          </div>
          <div class="card-other-services__ps">
              <p>Разработка с индивидуальным дизайном под ваш бизнес.</p>
              <p> Посадка на CMS WordPress.</p>
          </div>
        </div>
      </div>
      <div class="other-services__card-other-services card-other-services">
        <div class="card-other-services__title" data-aos="fade-up" data-aos-delay="50">
         Другие услуги
        </div>
        <div class="card-other-services__list">
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Верстка сайта</div>
            <div class="card-other-services__price">от 49$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Верстка одного блока (экрана) из макета</div>
            <div class="card-other-services__price">от 7$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Исправление ошибки в верстке</div>
            <div class="card-other-services__price">от 15$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Добавление новой формы</div>
            <div class="card-other-services__price">от 25$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Исправление неработающей формы</div>
            <div class="card-other-services__price">от 15$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Разработка калькулятора и его установка на сайт</div>
            <div class="card-other-services__price">от 40$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Установка и настройка нового плагина WordPress</div>
            <div class="card-other-services__price">от 15$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Оптимизация скорости загрузки сайта на ПК или мобильных устройствах</div>
            <div class="card-other-services__price">от 30$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Установить новый шаблон без дополнительных настроек и доработок</div>
            <div class="card-other-services__price">от 45$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Внедрение адаптивного дизайна</div>
            <div class="card-other-services__price">от 150$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Разработать новый дизайн для карточки товара</div>
            <div class="card-other-services__price">от 80$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Настройка файла robots.txt, управляющего индексацией в поисковых системах</div>
            <div class="card-other-services__price">от 7$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Подключение сайта к панелям Яндекс.Вебмастер и Центр для вебмастеров Google</div>
            <div class="card-other-services__price">от 7-15$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Перевод на HTTPS-протокол (SSL-сертификат оплачивается отдельно) </div>
            <div class="card-other-services__price">от 20$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Подготовка карты сайта (sitemap)</div>
            <div class="card-other-services__price">от 15$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Разработка баннера</div>
            <div class="card-other-services__price">от 10$</div>
          </div>
          <div class="card-other-services__item" data-aos="fade-up">
            <div class="card-other-services__name">Сделать логотип для сайта</div>
            <div class="card-other-services__price">80$</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
