<section class="steps">
  <div class="container steps__container">
    <div class="steps__block-text block-text">
      <h2 class="block-text__title">
        Разработка сайта в 3 этапа
      </h2>
      <div class="block-text__text">
        Каждый этап согласовывается
      </div>
    </div>
    <div class="steps__body item-steps flex">
      <div class="item-steps__wrapper">
        <div class="item-steps__block">
          <div class="item-steps__number item-steps__number--one">01</div>
          <div class="item-steps__content">
            <div class="item-steps__icon">
              <img src="img/Requirements-1-1-160x160.png" alt="prototip">
            </div>
            <div class="item-steps__title">
              Проектирование<br>прототипа
            </div>

          </div>
          <div class="item-steps__bg">
             <div class="item-steps__hexagon">
                <svg style="fill:#251d53;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4"><path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path></svg>
              </div>
          </div>
        </div>
        <div class="item-steps__text item-steps__text--one">
          Создание прототипа - это процесс схематизирования страницы сайта в виде наброска или эскиза, который показывает где и что будет расположено. Прототип страницы необходим, чтобы сформировать полноценный интерфейс.
        </div>
      </div>
      <div class="item-steps__wrapper">
        <div class="item-steps__block">
          <div class="item-steps__number item-steps__number--two">02</div>
          <div class="item-steps__content">
            <div class="item-steps__icon">
              <img src="img/Desein-160x160.png" alt="prototip">
            </div>
            <div class="item-steps__title">
              Отрисовка<br>дизайн макета
            </div>
            <div class="item-steps__bg">
               <div class="item-steps__hexagon">
                <svg style="fill:#251d53;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4"><path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path></svg>
              </div>
            </div>
          </div>
        </div>
        <div class="item-steps__text item-steps__text--two">
          Дизайн-макет – это визуальный образ будущего сайта, разработанный с учетом технических возможностей HTML верстки. Такой макет является  демонстрацией того, как визуально будет выглядеть  ваш сайт после верстки и наполнения.
        </div>
      </div>
      <div class="item-steps__wrapper">
        <div class="item-steps__block">
          <div class="item-steps__number item-steps__number--three">03</div>
          <div class="item-steps__content">
            <div class="item-steps__icon">
              <img src="img/Development-160x160.png" alt="prototip">
            </div>
            <div class="item-steps__title">
              Верстка<br>и запуск сайта
            </div>
            <div class="item-steps__bg">
              <div class="item-steps__hexagon">
                <svg style="fill:#251d53;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 177.4 197.4"><path d="M0,58.4v79.9c0,6.5,3.5,12.6,9.2,15.8l70.5,40.2c5.6,3.2,12.4,3.2,18,0l70.5-40.2c5.7-3.2,9.2-9.3,9.2-15.8V58.4 c0-6.5-3.5-12.6-9.2-15.8L97.7,2.4c-5.6-3.2-12.4-3.2-18,0L9.2,42.5C3.5,45.8,0,51.8,0,58.4z"></path></svg>
              </div>
            </div>
          </div>
        </div>
        <div class="item-steps__text item-steps__text--three">
          Верстка сайта – это описание программным кодом (HTML, CSS, JS) визуальной части Вашего сайта. После того как сайт сверстан и оптимизирован он готов к загрузке на хостинг и подключению доменного имени (адреса: www.site.ru).
        </div>
      </div>
    </div>
  </div>
</section>
