<section class="works">
  <div class="container works__container">
    <div id="works" class="works__block-text block-text">
      <h2 class="block-text__title" data-aos="fade-up" data-aos-delay="50">
        Портфолио
      </h2>
    </div>
    <div class="works__items grid">
      <div class="works__item item-works" data-aos="fade-up">
        <div class="item-works__body">
          <div class="item-works__image ibg">
            <img src="img/works/digital_studio_enver_studio.jpg" alt="my-work">
          </div>
          <div class="item-works__content">
            <div class="item-works__title">
              landing page <br><span>Digital_studio</span>
            </div>
            <ul class="item-works__list">
              <li class="item-works__item">
                Работа: Верстка
              </li>
              <li class="item-works__item">
                HTML + CSS
              </li>
              <li class="item-works__item">
                Функционал: Слайдер
              </li>
            </ul>
            <a target="_blank" href="https://agafonoff93.github.io/digital_studio/enver_studio/index.html" class="item-works__button btn"><span>На сайт</span></a>
          </div>

        </div>
      </div>
      <div class="works__item item-works" data-aos="fade-up">
        <div class="item-works__body">
          <div class="item-works__image ibg">
            <img src="img/works/template_bmw_index.jpg" alt="my-work">
          </div>
          <div class="item-works__content">
            <div class="item-works__title">
              html - письмо <br><span>Дилерский центр BMW Group</span>
            </div>
            <ul class="item-works__list">
              <li class="item-works__item">
                Работа: Верстка
              </li>
              <li class="item-works__item">
                Адаптивно
              </li>
              <li class="item-works__item">
                Функционал: Рассылка
              </li>
            </ul>
            <a target="_blank" href="https://agafonoff93.github.io/bmw/index.html" class="item-works__button btn"><span>Смотреть</span></a>
          </div>

        </div>
      </div>

      <div class="works__item item-works" data-aos="fade-up">
        <div class="item-works__body">
          <div class="item-works__image ibg">
            <img src="img/works/icndy_shop.jpg" alt="my-work">
          </div>
          <div class="item-works__content">
            <div class="item-works__title">
              homepage <br><span>Магазин одежды ICNDY</span>
            </div>
            <ul class="item-works__list">
              <li class="item-works__item">
                Работа: Верстка
              </li>
              <li class="item-works__item">
                Адаптивно
              </li>
              <li class="item-works__item">
                Функционал: Cлайдер + Галерея
              </li>
            </ul>
            <a target="_blank" href="https://agafonoff93.github.io/store/icndy/index.html" class="item-works__button btn"><span>Смотреть</span></a>
          </div>

        </div>
      </div>
      <div class="works__item item-works" data-aos="fade-up">
        <div class="item-works__body">
          <div class="item-works__image ibg">
            <img src="img/works/nissan.jpg" alt="my-work">
          </div>
          <div class="item-works__content">
            <div class="item-works__title">
              html - письмо <br><span>Дилерский центр Nissan</span>
            </div>
            <ul class="item-works__list">
              <li class="item-works__item">
                Работа: Верстка
              </li>
              <li class="item-works__item">
                Адаптивно
              </li>
              <li class="item-works__item">
                Функционал: Рассылка
              </li>
            </ul>
            <a target="_blank" href="https://agafonoff93.github.io/nissan_email/index.html" class="item-works__button btn"><span>Смотреть</span></a>
          </div>

        </div>
      </div>
      <div class="works__item item-works" data-aos="fade-up">
        <div class="item-works__body">
          <div class="item-works__image ibg">
            <img src="img/works/work_creators.jpg" alt="my-work">
          </div>
          <div class="item-works__content">
            <div class="item-works__title">
              landing page <br><span>Сайт предпринимателей</span>
            </div>
            <ul class="item-works__list">
              <li class="item-works__item">
                Работа: Верстка
              </li>
              <li class="item-works__item">
                HTML + CSS
              </li>
              <li class="item-works__item">
                Функционал: Слайдер
              </li>
            </ul>
            <a target="_blank" href="https://agafonoff93.github.io/work/creators/index.html" class="item-works__button btn"><span>На сайт</span></a>
          </div>

        </div>
      </div>
      <div class="works__item item-works" data-aos="fade-up">
        <div class="item-works__body">
          <div class="item-works__image ibg">
            <img src="img/works/agafonova_teacher_long.jpg" alt="my-work">
          </div>
          <div class="item-works__content">
            <div class="item-works__title">
              landing page <br><span>Сайт учителя</span>
            </div>
            <ul class="item-works__list">
              <li class="item-works__item">
                Работа: Верстка
              </li>
              <li class="item-works__item">
                HTML + CSS
              </li>
              <li class="item-works__item">
                Функционал: Персональный сайт
              </li>
            </ul>
            <a target="_blank" href="https://agafonoff93.github.io/agafonova_teacher/maria_site/index.html" class="item-works__button btn"><span>На сайт</span></a>
          </div>

        </div>
      </div>
      <div class="works__item item-works" data-aos="fade-up">
        <div class="item-works__body">
          <div class="item-works__image ibg">
            <img src="img/works/agafonovateache_ru.jpg" alt="my-work">
          </div>
          <div class="item-works__content">
            <div class="item-works__title">
              landing page <br><span>Курс Турбо Чтение</span>
            </div>
            <ul class="item-works__list">
              <li class="item-works__item">
                Работа: Верстка + дизайн
              </li>
              <li class="item-works__item">
                CMS: Wordpress
              </li>
              <li class="item-works__item">
                Функционал: Визитка
              </li>
            </ul>
            <a target="_blank" href="https://agafonovateacher.ru" class="item-works__button btn"><span>На сайт</span></a>
          </div>

        </div>
      </div>
      <div class="works__item item-works" data-aos="fade-up">
        <div class="item-works__body">
          <div class="item-works__image ibg">
            <img src="img/works/mailtestorado.jpg" alt="my-work">
          </div>
          <div class="item-works__content">
            <div class="item-works__title">
              html - письмо <br><span>Эльдорадо</span>
            </div>
            <ul class="item-works__list">
              <li class="item-works__item">
                Работа: Верстка
              </li>
              <li class="item-works__item">
                Адаптивно
              </li>
              <li class="item-works__item">
                Функционал: Рассылка
              </li>
            </ul>
            <a target="_blank" href="https://agafonoff93.github.io/mailtestorado/test_adcome.html" class="item-works__button btn"><span>Смотреть</span></a>
          </div>

        </div>
      </div>
      <div class="works__item item-works" data-aos="fade-up">
        <div class="item-works__body">
          <div class="item-works__image ibg">
            <img src="img/works/super_adaptiv.jpg" alt="my-work">
          </div>
          <div class="item-works__content">
            <div class="item-works__title">
              landing page <br><span>Супер адаптив</span>
            </div>
            <ul class="item-works__list">
              <li class="item-works__item">
                Работа: Верстка
              </li>
              <li class="item-works__item">
                HTML + CSS
              </li>
              <li class="item-works__item">
                Функционал: Шаблон
              </li>
            </ul>
            <a target="_blank" href="https://agafonoff93.github.io/super_adaptiv_landing/" class="item-works__button btn"><span>На сайт</span></a>
          </div>

        </div>
      </div>
      <div class="works__item item-works" data-aos="fade-up">
        <div class="item-works__body">
          <div class="item-works__image ibg">
            <img src="img/works/hudy_catalog.jpg" alt="my-work">
          </div>
          <div class="item-works__content">
            <div class="item-works__title">
              Catalog <br><span>HUDY</span>
            </div>
            <ul class="item-works__list">
              <li class="item-works__item">
                Работа: Верстка
              </li>
              <li class="item-works__item">
                HTML + CSS
              </li>
              <li class="item-works__item">
                Функционал: Магазин
              </li>
            </ul>
            <a target="_blank" href="https://agafonoff93.github.io/hudy/catalog.html" class="item-works__button btn"><span>На сайт</span></a>
          </div>

        </div>
      </div>
      <div class="works__item item-works" data-aos="fade-up">
        <div class="item-works__body">
          <div class="item-works__image ibg">
            <img src="img/works/finance.jpg" alt="my-work">
          </div>
          <div class="item-works__content">
            <div class="item-works__title">
              landing page <br><span>Финанс.ру</span>
            </div>
            <ul class="item-works__list">
              <li class="item-works__item">
                Работа: Верстка
              </li>
              <li class="item-works__item">
                HTML + CSS
              </li>
              <li class="item-works__item">
                Функционал: Шаблон
              </li>
            </ul>
            <a target="_blank" href="https://agafonoff93.github.io/finshablon/my_site/index.html" class="item-works__button btn"><span>На сайт</span></a>
          </div>

        </div>
      </div>
      <div class="works__item item-works" data-aos="fade-up">
        <div class="item-works__body">
          <div class="item-works__image ibg">
            <img src="img/works/wim_email.jpg" alt="my-work">
          </div>
          <div class="item-works__content">
            <div class="item-works__title">
              html - письмо <br><span>WIM.agency</span>
            </div>
            <ul class="item-works__list">
              <li class="item-works__item">
                Работа: Верстка
              </li>
              <li class="item-works__item">
                Адаптивно
              </li>
              <li class="item-works__item">
                Функционал: Рассылка
              </li>
            </ul>
            <a target="_blank" href="https://agafonoff93.github.io/file/wim_email.html" class="item-works__button btn"><span>Смотреть</span></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
